{% extends 'base.html' %}

{% block title %}
      Page|Créer un nouveau mot de passe
{% endblock title %}
    

{% block css %}
    <style>
       
       
    </style>
{% endblock css %}
    
{% block content %}
<div class="row " style="height: 70vh;">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card " style="width: 400px;">
            <div class="card-header text-center h5 text-white bg-primary">New Password</div>
            <div class="card-body px-5">
               
                <div class="form-outline">
                    <label class="form-label " for="new_mdp">Password</label>
                    <input type="password" id="new_mdp" class="form-control my-2 rounded-pill" />
                  
                </div>
                <div class="form-outline">
                    <label for="confirm_new_mdp" class="form-label">Repeat your Passsword</label>
                    <input type="password" id="confirm_new_mdp" class="form-control my-2 rounded-pill" />
                  
                </div>
              <div class="mt-4">
                <a href="#" class="btn btn-primary w-100 rounded-pill">Valider</a>
              </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    